html,body{

 margin: 0px;
}
body{

    display: flex;
    flex-direction: column;

    height: 10vh;
}

footer{
    margin-top: auto;
}

header, main, footer { 
    text-align: center;
}

.donors{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}


.form {
    display: grid;
    grid-template-columns: 1fr 1fr ;

}

header, .form, main { 
     margin: 0 auto 70px;

     width: 90%; 
     max-width: 500px;

     height: 100px; 

     

}
